In [9]:
import numpy as np
import pandas as pd
import random

In [2]:
def makeDF(tuples, header):
    '''Assumes tuples as Python tuples both empty or non empty; header as a tuple with a convention
       as (RollNumber, Name, Exam-[name]-[max-marks], ..., Lab-[name]-[max-marks], ...,
       Asgn-[name]-[max-marks], ..., Oth-[name]-[max-marks],)

       Returns a Pandas DataFrame with all NULL values replaced by Cipher, and adds a fraud column
       for figuring out cheating factor for later functions.'''

    # make rows, column IDs and marks as a list for DataFrame initialization

    row_index = [int(i) for i in range(1, len(tuples) + 1)]
    col_index = list(header)
    values = list(tuples)

    # DataFrame initialisation

    df = pd.DataFrame(tuples, row_index, col_index)

    # Handling of NULLs

    for col in list(df.columns):
        df[col] = df[col].fillna(value=0)

    # Make a copy of last given exams marks

    df['fraud'] = 0
    df['fraud'] = df[df.columns[-2]]

    return df


def scaleMarks(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a Pandas DataFrame with marks scaled up according to the max-marks defined in the
       column headings'''

    # iterate through all columns and scale marks using apply() attribute of DataFrames

    for exam in list(df.columns):
        if len(exam.split('-')) > 2:
            df[exam] = df[exam].apply(lambda x: x * 100 \
                                                / int(exam.split('-')[2]))

    return df


def createAvg(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a DataFrame with added columns for overall weighted average, and individual exam,
       lab, assignments and other evaluations average'''

    # initilaize columns as zero

    marks['overall'] = 0
    marks['avgExam'] = 0
    marks['avgLab'] = 0
    marks['avgAsgn'] = 0
    marks['avgOth'] = 0

    # initialize count variables as zero

    exams = 0
    lab = 0
    asgn = 0
    oth = 0

    # iterate through the column list, filter and sum based on '-' as the additional columns do not have a '-'

    for exam in list(marks.columns):
        if exam.lower().startswith('exam'):
            marks['avgExam'] += marks[exam]
            exams += 1
        elif exam.lower().startswith('lab'):

            marks['avgLab'] += marks[exam]
            lab += 1
        elif exam.lower().startswith('asgn'):

            marks['avgAsgn'] += marks[exam]
            asgn += 1
        elif exam.lower().startswith('oth'):

            marks['avgOth'] += marks[exam]
            oth += 1
        else:

            continue

    # weight and scale marks and divide by total number of instances of similar type counted.
    # Weights based on the strictness  and students' interest in overall exam process

    marks['overall'] = 0.5 * marks['avgExam'] / exams + 0.3 \
                       * marks['avgLab'] / lab + 0.1 * marks['avgAsgn'] / asgn + 0.1 \
                       * marks['avgOth'] / oth

    return marks


def createChMarks(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a DataFrame with added column ChMarks which would be used further for overall cheating status'''

    # Not included marks for Assignments as they are done by students AT HOME

    marks['ChMarks'] = (marks['avgExam'] + marks['avgLab']
                        + marks['avgOth']) / 3
    return marks


def variance(df):
    '''Assumes df as a Pandas DataFrame.

       Returns the same DataFrame with added column for variance which has variance for all scores for a particular
       student'''

    # Figure out first the columns to be considered for variance calculation. Used '-' as an identifier again

    ls = list(df.columns)
    buffer = []
    for i in range(len(ls)):
        if len(ls[i].split('-')) > 2:
            buffer.append(ls[i])
        else:
            continue

    # initialise column var with iteration based indices so as to use the power of apply() attribute

    df['var'] = [int(i) for i in range(len(df[df.columns[0]]))]

    # make a dummy row index for slicing DataFrame for calculation

    row_index = [int(i) for i in range(1, 1 + len(df[df.columns[0]]))]

    # use the value in var as an indirect reference for the whole row and use the describe() attribute to get std

    df['var'] = df['var'].apply(lambda x: df.loc[row_index,
                                                 buffer].iloc[x].describe()['std'] ** 2)

    return df


def CI(marks, column):
    '''Assumes marks as a Pandas DataFrame and column and a string.

       Returns the 95% confidence interval for the given data as a tuple with entries as (low, high)'''

    column = str(column)

    # CI = mean +- 2*std_error; std_error = std_deviation/sqrt(total observations)

    std_error = marks[column].describe()['std'] / len(marks['avgExam']) \
                ** 0.5
    mean = marks[column].describe()['mean']

    return (mean - 2 * std_error, mean + 2 * std_error)


def width(tup):
    '''Assumes tup as tuple.

       Returns an integer as the difference of 2nd and 1st values of tuple'''

    return tup[1] - tup[0]


def CourseStats(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a tuple with values as : (course_difficulty, cheat_risk, list(cheat_flagged),
                                         avg_marks, quartile1, quartile2, quartile3,)

       course_difficulty (str) : HIGH/MODERATE/EASY based on the weighted average and cut-off marks
       cheat_risk (str) : HIGH/MODERATE/LOW based on the spread of Assignment and Other Exam marks
       cheat_flagged (list) : A list of 5 RollNumbers who we believe with some confidence are
                              indulged in academic malpractices in the class as a whole.
       avg_marks (str) : A range of marks where the most of students lie in between.
       quartile1, quartile2, quartile3 (int) : The stastical quartile scores for the overall analysis.'''

    # Calculate course difficulty based on 3rd Quartile scores of students.

    marker = marks['overall'].describe()['75%']
    if marker > 0 and marker < 40:
        course_difficulty = 'HIGH'
    elif marker > 40 and marker < 75:
        course_difficulty = 'MODERATE'
    else:
        course_difficulty = 'EASY'

    # Calculate the probability of cheating based on the width of assignment scores and other marks combined

    cheatProb = 1 - width(CI(marks, 'avgAsgn')) / width(CI(marks,
                                                           'ChMarks'))
    if cheatProb > 0.7 and cheatProb < 1:
        cheat_risk = 'HIGH'
    elif cheatProb > 0.4 and cheatProb < 0.7:
        cheat_risk = 'MODERATE'
    else:
        cheat_risk = 'LOW'

    # Flag out top 5 students whose overall scores and assignment socres tell two different stories

    marks['cheatflagged'] = 0

    marks['cheatflagged'] = marks['avgAsgn'] - marks['ChMarks']
    cheat_flagged = marks.sort_values('cheatflagged', ascending=False)['RollNumber'].iloc[1:6]

    # Calculate the range of marks for most students
    avg_marks = str(round(CI(marks, 'overall')[0], 2)) + '-' + str(round(CI(marks, 'overall')[1], 2))

    # Calculate quartile scores for weighted marks

    quartile1 = round(marks['overall'].describe()['25%'], 2)
    quartile2 = round(marks['overall'].describe()['50%'], 2)
    quartile3 = round(marks['overall'].describe()['75%'], 2)

    return (
        course_difficulty,
        cheat_risk,
        list(cheat_flagged),
        avg_marks,
        [quartile1,
         quartile2,
         quartile3]
    )


def ExamStats(marks):
    '''Assumes marks as a Pandas DataFrame.

       Returns a tuple with values as : (exam_difficulty, cheat_risk, list(cheat_flagged),
                                         avg_marks, quartile1, quartile2, quartile3,)

       exam_difficulty (str) : HIGH/MODERATE/EASY based on the exam performance
       cheat_risk (str) : HIGH/MODERATE/LOW based on the unevenness in marks
       cheat_flagged (list) : A list of 5 RollNumbers who we believe with some confidence should
                              be re-evaluated
       avg_marks (str) : A range of marks where the most of students lie in between.
       quartile1, quartile2, quartile3 (int) : The stastical quartile scores for the overall analysis.'''

    # Figure out the name of last exam and store it in location

    temp = list(marks.columns)
    count = 1
    for i in range(len(temp)):
        if len(temp[i].split('-')) > 2:
            count += 1
    location = temp[count]

    # Calculate the difficulty based on 2nd quartile cut-offs

    marker = marks[location].describe()['50%']
    if marker > 0 and marker < 40:
        exam_difficulty = 'HIGH'
    elif marker > 40 and marker < 75:
        exam_difficulty = 'MODERATE'
    else:
        exam_difficulty = 'EASY'

    # Build the frequency table for digit occurences, add the numbers not present in DataFrame with zero occurence

    freq_df = marks['fraud'].apply(lambda x: int(x % 10)).value_counts()

    for i in range(10):
        try:
            if freq_df.loc[i] >= 0:
                continue
        except:
            freq_df.loc[i] = 0

    # Calculate the variance of the same Dataframe and figure out cheating risk

    cheat_var = freq_df.describe()['std'] ** 2
    if cheat_var < 15:
        cheat_risk = 'LOW'
    if cheat_var > 15 and cheat_var < 80:
        cheat_risk = 'MODERATE'
    else:
        cheat_risk = 'HIGH'

    # Find the number with most occurences, sample 5 random roll numbers with that number for re-evaluation

    max_repeat = freq_df.index[0]
    marks['fraud'] = marks['fraud'].apply(lambda x: int(x % 10))
    suspicious = marks[marks['fraud'] == max_repeat]['fraud']
    if len(suspicious) > 5:
        check_sheets_index = random.sample(list(range(0, len(suspicious))), 5)
        cheat_flagged = []
        for index in check_sheets_index:
            cheat_flagged.append(marks['RollNumber'].iloc[index])
    else:
        cheat_flagged = []

    # Calculate the range of marks for most students

    avg_marks = str(round(CI(marks, location)[0], 2)) + '-' + str(round(CI(marks, location)[1],2))

    # Calculate quartile scores for exam marks

    quartile1 = round(marks[location].describe()['25%'], 2)
    quartile2 = round(marks[location].describe()['50%'], 2)
    quartile3 = round(marks[location].describe()['75%'], 2)

    return (
        exam_difficulty,
        cheat_risk,
        cheat_flagged,
        avg_marks,
        [quartile1,
         quartile2,
         quartile3],
    )


def PersistentLabels(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a tuple with values as (consistent, moderately_varying, highly_varying,)

       consistent (list) : RollNumbers have almost no variation in their marks obtained so far.
       moderately_varying (list) : RollNumbers have some variation in their marks obtained so far.
       highly_varying (list) : RollNumbers have a high variation in their marks obtained so far.'''

    # calculate and filter the roll number list

    consistent = list(df[df['var'] < 30]['RollNumber'])
    moderately_varying = list(df[(df['var'] > 30) & (df['var']
                                                     < 150)]['RollNumber'])
    highly_varying = list(df[df['var'] > 150]['RollNumber'])

    return (consistent, moderately_varying, highly_varying)


def PerformanceLabels(df):
    '''Assumes df as a Pandas DataFrame.

       Returns a tuple with values as (exceptional, promising, average, needy,)

       exceptional (list) : RollNumbers with really good performance overall.
       promising (list) : RollNumbers who can be pushed to top with a little efforts.
       average (list) : RollNumbers who are just a few steps from failing marks and need some attention.
       needy (list) : RollNumbers who are in an immediate need of attention.'''

    # Calculate and filter the roll number list

    exceptional = list(df[df['overall'] > 85]['RollNumber'])
    promising = list(df[(df['overall'] < 85) & (df['overall']
                                                > 50)]['RollNumber'])
    average = list(df[(df['overall'] < 50) & (df['overall']
                                              > 30)]['RollNumber'])
    needy = list(df[df['overall'] < 30]['RollNumber'])

    return (exceptional, promising, average, needy)


def mainFunc(df):
    '''Assumes df as a Pandas DataFrame.

       Returns the top needy students based on algo as a list.'''

    # initialise an empty column to save scores

    df['temp'] = 1 / df['overall'] + df['var']
    return list((df.sort_values('temp', ascending=False)['RollNumber'])[0:5])

def getRank(df, exam):
    '''Assumes df as a Pandas dataframe, amd exam as a string.
    
       Returns a dataframe with ranks according to roll number.'''
    
    #Sort values according to the particular exam on Roll number column. 
    examRank = df.sort_values(exam, ascending = False)['RollNumber']
    
    #initialise a dummy column later to be used as the rank.
    temp = [int(i) + 1 for i in range(len(df['RollNumber']))]
    
    #join the two columns in a dataframe and sort according to Roll number. 
    df1 = pd.DataFrame({exam : temp, 'RollNumber' : examRank})
    df1.sort_values('RollNumber', inplace=True)
    
    return df1

def getRankMatrix(df):
    '''Assumes df as a Pandas DataFrame.
    
        Returns a tuple of tuples with individual type of exam ranks.'''
    
    #find individual ranks for classes of exams
    df1 = getRank(df, 'avgExam')
    df2 = getRank(df, 'avgLab')
    df3 = getRank(df, 'avgAsgn')
    df4 = getRank(df, 'avgOth')
    df5 = getRank(df, 'overall')
    
    #make the combines dataframe
    temp = df['RollNumber']
    dfRank = pd.DataFrame({'RollNumber' : temp, 'ClassRank' : df5['overall'], 'ExamRank' : df1['avgExam'], 'LabRank' : df2['avgLab'], 'AsgnRank' : df3['avgAsgn'], 'OthRank' : df4['avgOth']})

    return tuple([tuple(x) for x in dfRank.to_records(index=False)])

def ExamDetails(df):
    '''Assumes df as a Pandas DataFrame.
    
    Returns a listof lists with individual exam analysis'''
    
    details = []
    
    #for all the exams entered, find CI, max marks and exam name.
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            avgCI = str(round(CI(df, exam)[0], 2)) + '-' + str(round(CI(df, exam)[1], 2))
            examName = exam.split('-')[1]
            maxMarks = round(max(df[exam]), 2) 
            details.append([examName, avgCI, maxMarks])
    
    return details

def findBestExam(i):
    '''Assumes i as an int.
    
       Returns a string with the value as the exam with maximum marks in any Dataframe record'''
    
    #find exams
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    
    #Boolean Series with True at the desired location
    check = df[evals].iloc[i] == df.iloc[i]['best']
    
    #list of all conducted exam columns
    temp = df[evals].columns
    
    #find the name of exam, as per the faculty
    for seek in range(len(temp)):
        if check[seek] == True:
            exam = temp[seek].split('-')[1]
    
    return exam

def findWorstExam(i):
    '''Assumes i as an int.
    
       Returns a string with the value as the exam with minimum marks in any Dataframe record'''
    
    #find exams
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    
    #Boolean Series with True at the desired location
    check = df[evals].iloc[i] == df.iloc[i]['worst']
    
    #list of all conducted exam columns
    temp = df[evals].columns
    
    #find the name of exam, as per the faculty
    for seek in range(len(temp)):
        if check[seek] == True:
            exam = temp[seek].split('-')[1]
    
    return exam

def studentMarks(df):
    '''Assumes df as a Pandas DataFrame.
    
       Returns a tuple of tuples, with best exam and worst exam performances.'''
    
    #find all the exam names
    evals = []
    for exam in df.columns:
        if len(exam.split('-')) > 2:
            evals.append(exam)
    #initialise new attributes with their iterative location index to use the power of lambda functions.
    df['best'] = [i for i in range(len(df['RollNumber']))]
    df['worst'] = [i for i in range(len(df['RollNumber']))]
    df['bestExam'] = [i for i in range(len(df['RollNumber']))]
    df['worstExam'] = [i for i in range(len(df['RollNumber']))]

    #Find the max or min oerformance of the record.
    df['best'] = df['best'].apply(lambda x : max(df[evals].iloc[x]))
    df['worst'] = df['worst'].apply(lambda x : min(df[evals].iloc[x]))
    
    #Find the best or worst exam name.
    df['bestExam'] = df['bestExam'].apply(findBestExam)
    df['worstExam'] = df['worstExam'].apply(findWorstExam)
    
    #rounding off
    df['best'] = df['best'].apply(lambda x : round(x, 2))
    df['worst'] = df['worst'].apply(lambda x : round(x, 2))
    
    #Make new dataframe
    df1 = df[['RollNumber', 'best', 'worst', 'bestExam', 'worstExam']]

    #Coercion
    ret  = tuple([tuple(x) for x in df1.to_records(index=False)])
    
    return ret

In [3]:
tuples = np.random.randn(267, 14)
headers =  ['RollNumber', 'Name', 'exam-mid-35', 'exam-end-50', 'lab-basic01-20','lab-basic02-20','lab-basic03-20','asgn-basic01-15','asgn-basic02-15','asgn-basic03-15','asgn-basic04-15','oth-quiz01-30', 'oth-quiz02-30', 'oth-quiz03-30']
roll = [i for i in range(1, 268)]
max_marks = [1, 1, 35, 50, 20, 20, 20, 15, 15, 15, 15, 30, 30, 30]
df = pd.DataFrame(tuples)
for i in range(14):
    df[i] = df[i].apply(lambda x : int((x*100)%max_marks[i]))
df.columns = headers
df['RollNumber'] = roll
df['fraud'] = 0
df['fraud'] = df['oth-quiz03-30']

In [4]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,asgn-basic04-15,oth-quiz01-30,oth-quiz02-30,oth-quiz03-30,fraud
0,1,0,2,20,6,19,8,9,2,12,6,13,18,16,16
1,2,0,26,15,17,10,10,4,8,2,4,11,25,18,18
2,3,0,6,20,1,4,9,8,0,5,2,13,28,26,26
3,4,0,16,7,7,17,12,7,3,14,7,12,5,23,23
4,5,0,13,43,17,1,12,10,11,10,13,5,20,23,23

In [5]:
df = scaleMarks(df)
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,asgn-basic04-15,oth-quiz01-30,oth-quiz02-30,oth-quiz03-30,fraud
0,1,0,5.714286,40.0,30.0,95.0,40.0,60.000000,13.333333,80.000000,40.000000,43.333333,60.000000,53.333333,16
1,2,0,74.285714,30.0,85.0,50.0,50.0,26.666667,53.333333,13.333333,26.666667,36.666667,83.333333,60.000000,18
2,3,0,17.142857,40.0,5.0,20.0,45.0,53.333333,0.000000,33.333333,13.333333,43.333333,93.333333,86.666667,26
3,4,0,45.714286,14.0,35.0,85.0,60.0,46.666667,20.000000,93.333333,46.666667,40.000000,16.666667,76.666667,23
4,5,0,37.142857,86.0,85.0,5.0,60.0,66.666667,73.333333,66.666667,86.666667,16.666667,66.666667,76.666667,23

In [6]:
df = createAvg(df)
df = createChMarks(df)
df = variance(df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:140: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [7]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,oth-quiz02-30,oth-quiz03-30,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var
0,1,0,5.714286,40.0,30.0,95.0,40.0,60.000000,13.333333,80.000000,...,60.000000,53.333333,16,37.984127,45.714286,165.0,193.333333,156.666667,122.460317,548.960266
1,2,0,74.285714,30.0,85.0,50.0,50.0,26.666667,53.333333,13.333333,...,83.333333,60.000000,18,53.571429,104.285714,185.0,120.000000,180.000000,156.428571,878.770700
2,3,0,17.142857,40.0,5.0,20.0,45.0,53.333333,0.000000,33.333333,...,93.333333,86.666667,26,31.230159,57.142857,70.0,100.000000,223.333333,116.825397,686.572459
3,4,0,45.714286,14.0,35.0,85.0,60.0,46.666667,20.000000,93.333333,...,16.666667,76.666667,23,42.539683,59.714286,180.0,206.666667,133.333333,124.349206,729.339243
4,5,0,37.142857,86.0,85.0,5.0,60.0,66.666667,73.333333,66.666667,...,66.666667,76.666667,23,58.452381,123.142857,150.0,293.333333,160.000000,144.380952,595.811362

In [8]:
CourseStats(df)

('MODERATE',
 'LOW',
 [82, 209, 242, 179, 119],
 '46.07-48.91',
 [38.61, 47.81, 55.93])

In [9]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,oth-quiz03-30,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var,cheatflagged
0,1,0,5.714286,40.0,30.0,95.0,40.0,60.000000,13.333333,80.000000,...,53.333333,16,37.984127,45.714286,165.0,193.333333,156.666667,122.460317,548.960266,70.873016
1,2,0,74.285714,30.0,85.0,50.0,50.0,26.666667,53.333333,13.333333,...,60.000000,18,53.571429,104.285714,185.0,120.000000,180.000000,156.428571,878.770700,-36.428571
2,3,0,17.142857,40.0,5.0,20.0,45.0,53.333333,0.000000,33.333333,...,86.666667,26,31.230159,57.142857,70.0,100.000000,223.333333,116.825397,686.572459,-16.825397
3,4,0,45.714286,14.0,35.0,85.0,60.0,46.666667,20.000000,93.333333,...,76.666667,23,42.539683,59.714286,180.0,206.666667,133.333333,124.349206,729.339243,82.317460
4,5,0,37.142857,86.0,85.0,5.0,60.0,66.666667,73.333333,66.666667,...,76.666667,23,58.452381,123.142857,150.0,293.333333,160.000000,144.380952,595.811362,148.952381

In [10]:
ExamStats(df)

('MODERATE',
 'MODERATE',
 [16, 11, 39, 19, 6],
 '43.96-51.12',
 [20.0, 46.67, 73.33])

In [11]:
PersistentLabels(df)

([],
 [],
 [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  209,
  210,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  241,
  242,
  243,
  244,
  245,
  246,
  247,
  248,
  249,
  250,
  251,
  252,
  253,
  254,
  255,
  256,
  257,
  258,
  259,
  260,
  261,
  262,
  263,
  264,
  265,
  266])

In [12]:
PerformanceLabels(df)

([],
 [2,
  5,
  7,
  8,
  10,
  12,
  13,
  18,
  21,
  24,
  25,
  26,
  27,
  31,
  33,
  34,
  37,
  38,
  39,
  43,
  44,
  45,
  46,
  47,
  49,
  51,
  52,
  53,
  54,
  56,
  62,
  65,
  66,
  67,
  68,
  70,
  83,
  87,
  94,
  96,
  97,
  98,
  99,
  101,
  105,
  110,
  112,
  113,
  115,
  116,
  118,
  122,
  125,
  126,
  127,
  129,
  131,
  132,
  140,
  141,
  143,
  144,
  145,
  146,
  149,
  154,
  157,
  159,
  163,
  166,
  167,
  168,
  171,
  172,
  173,
  174,
  175,
  176,
  178,
  188,
  191,
  196,
  200,
  207,
  208,
  214,
  215,
  223,
  225,
  227,
  230,
  231,
  232,
  235,
  238,
  239,
  240,
  244,
  249,
  250,
  252,
  253,
  254,
  256,
  259,
  263,
  264,
  266,
  267],
 [1,
  3,
  4,
  6,
  9,
  11,
  14,
  16,
  17,
  19,
  20,
  22,
  23,
  29,
  30,
  35,
  36,
  40,
  41,
  42,
  50,
  55,
  57,
  58,
  59,
  61,
  63,
  64,
  69,
  71,
  72,
  74,
  75,
  76,
  77,
  79,
  80,
  81,
  84,
  85,
  86,
  88,
  89,
  90,
  92,
  93,
  95,
  100,
  102,
  103,
  104,
  106,
  107,
  108,
  109,
  111,
  114,
  117,
  119,
  120,
  121,
  130,
  133,
  134,
  135,
  136,
  138,
  139,
  142,
  148,
  150,
  151,
  152,
  155,
  158,
  160,
  161,
  162,
  164,
  165,
  169,
  170,
  177,
  180,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  189,
  190,
  192,
  193,
  194,
  195,
  197,
  198,
  199,
  201,
  202,
  203,
  204,
  205,
  206,
  210,
  211,
  212,
  213,
  216,
  217,
  218,
  219,
  220,
  221,
  222,
  224,
  226,
  228,
  229,
  234,
  236,
  237,
  241,
  242,
  243,
  245,
  247,
  248,
  251,
  255,
  257,
  258,
  260,
  261,
  262,
  265],
 [15,
  28,
  32,
  48,
  60,
  73,
  78,
  82,
  91,
  123,
  124,
  128,
  137,
  147,
  153,
  156,
  179,
  209,
  233,
  246])

In [13]:
mainFunc(df)

[207, 55, 240, 196, 53]

In [14]:
df.head()

,RollNumber,Name,exam-mid-35,exam-end-50,lab-basic01-20,lab-basic02-20,lab-basic03-20,asgn-basic01-15,asgn-basic02-15,asgn-basic03-15,...,fraud,overall,avgExam,avgLab,avgAsgn,avgOth,ChMarks,var,cheatflagged,temp
0,1,0,5.714286,40.0,30.0,95.0,40.0,60.000000,13.333333,80.000000,...,6,37.984127,45.714286,165.0,193.333333,156.666667,122.460317,548.960266,70.873016,548.986593
1,2,0,74.285714,30.0,85.0,50.0,50.0,26.666667,53.333333,13.333333,...,8,53.571429,104.285714,185.0,120.000000,180.000000,156.428571,878.770700,-36.428571,878.789367
2,3,0,17.142857,40.0,5.0,20.0,45.0,53.333333,0.000000,33.333333,...,6,31.230159,57.142857,70.0,100.000000,223.333333,116.825397,686.572459,-16.825397,686.604480
3,4,0,45.714286,14.0,35.0,85.0,60.0,46.666667,20.000000,93.333333,...,3,42.539683,59.714286,180.0,206.666667,133.333333,124.349206,729.339243,82.317460,729.362750
4,5,0,37.142857,86.0,85.0,5.0,60.0,66.666667,73.333333,66.666667,...,3,58.452381,123.142857,150.0,293.333333,160.000000,144.380952,595.811362,148.952381,595.828470

In [15]:
getRankMatrix(df)

((1, 208, 241, 89, 122, 115),
 (2, 81, 109, 57, 236, 65),
 (3, 241, 222, 243, 246, 17),
 (4, 175, 216, 66, 96, 146),
 (5, 46, 61, 119, 9, 109),
 (6, 173, 202, 133, 88, 62),
 (7, 70, 87, 58, 198, 56),
 (8, 1, 4, 6, 187, 145),
 (9, 131, 155, 151, 72, 26),
 (10, 12, 68, 4, 73, 22),
 (11, 168, 220, 67, 52, 144),
 (12, 10, 23, 26, 125, 94),
 (13, 13, 12, 114, 15, 179),
 (14, 196, 158, 112, 267, 267),
 (15, 248, 206, 267, 67, 139),
 (16, 122, 183, 20, 256, 47),
 (17, 201, 218, 142, 195, 80),
 (18, 40, 35, 118, 57, 216),
 (19, 245, 238, 215, 147, 136),
 (20, 214, 173, 252, 101, 106),
 (21, 24, 52, 62, 4, 121),
 (22, 217, 230, 92, 238, 158),
 (23, 135, 41, 261, 127, 184),
 (24, 25, 44, 86, 98, 16),
 (25, 15, 54, 2, 158, 166),
 (26, 14, 34, 27, 180, 28),
 (27, 59, 30, 172, 93, 203),
 (28, 261, 251, 176, 89, 265),
 (29, 121, 116, 61, 258, 220),
 (30, 186, 180, 97, 179, 261),
 (31, 56, 67, 132, 144, 7),
 (32, 252, 223, 263, 143, 113),
 (33, 41, 5, 238, 243, 73),
 (34, 77, 110, 15, 185, 255),
 (35, 236, 215, 234, 142, 93),
 (36, 205, 142, 250, 202, 172),
 (37, 99, 94, 98, 109, 213),
 (38, 97, 71, 162, 263, 25),
 (39, 64, 140, 3, 235, 211),
 (40, 183, 191, 113, 38, 256),
 (41, 174, 211, 96, 141, 57),
 (42, 138, 82, 194, 104, 214),
 (43, 39, 117, 9, 176, 10),
 (44, 108, 91, 184, 124, 19),
 (45, 72, 60, 175, 83, 32),
 (46, 104, 156, 39, 153, 117),
 (47, 103, 164, 31, 77, 201),
 (48, 263, 259, 192, 237, 124),
 (49, 35, 56, 63, 47, 86),
 (50, 215, 225, 179, 59, 69),
 (51, 50, 63, 50, 212, 140),
 (52, 5, 1, 75, 68, 192),
 (53, 76, 105, 60, 33, 209),
 (54, 42, 98, 12, 219, 20),
 (55, 114, 138, 56, 135, 231),
 (56, 107, 93, 55, 245, 232),
 (57, 172, 186, 135, 105, 114),
 (58, 124, 115, 197, 188, 4),
 (59, 213, 184, 246, 206, 6),
 (60, 253, 264, 129, 148, 196),
 (61, 243, 177, 255, 157, 252),
 (62, 54, 26, 165, 205, 167),
 (63, 129, 122, 201, 203, 1),
 (64, 157, 209, 40, 218, 68),
 (65, 26, 14, 168, 193, 60),
 (66, 66, 86, 53, 204, 53),
 (67, 38, 13, 198, 94, 215),
 (68, 98, 179, 18, 71, 168),
 (69, 171, 51, 258, 209, 260),
 (70, 86, 46, 220, 66, 98),
 (71, 120, 145, 82, 199, 104),
 (72, 136, 125, 139, 92, 212),
 (73, 266, 265, 195, 129, 238),
 (74, 147, 95, 167, 231, 197),
 (75, 221, 135, 221, 255, 259),
 (76, 240, 214, 249, 40, 204),
 (77, 139, 83, 204, 208, 74),
 (78, 260, 255, 181, 261, 75),
 (79, 132, 160, 126, 82, 34),
 (80, 202, 137, 248, 229, 150),
 (81, 189, 165, 137, 164, 262),
 (82, 259, 257, 223, 13, 161),
 (83, 78, 58, 161, 224, 37),
 (84, 185, 205, 158, 174, 23),
 (85, 153, 119, 206, 214, 43),
 (86, 145, 212, 38, 74, 79),
 (87, 31, 17, 229, 32, 18),
 (88, 247, 261, 116, 145, 181),
 (89, 113, 120, 90, 87, 237),
 (90, 203, 144, 245, 190, 170),
 (91, 257, 234, 260, 60, 165),
 (92, 170, 231, 33, 113, 125),
 (93, 191, 197, 155, 239, 41),
 (94, 90, 88, 68, 31, 263),
 (95, 152, 59, 266, 123, 61),
 (96, 74, 24, 208, 65, 244),
 (97, 18, 38, 76, 25, 27),
 (98, 44, 37, 173, 115, 31),
 (99, 28, 25, 85, 166, 169),
 (100, 112, 152, 44, 62, 227),
 (101, 73, 92, 46, 159, 137),
 (102, 179, 159, 193, 175, 127),
 (103, 119, 157, 70, 172, 92),
 (104, 150, 236, 34, 64, 21),
 (105, 52, 47, 188, 46, 29),
 (106, 154, 154, 154, 150, 108),
 (107, 192, 178, 174, 228, 70),
 (108, 207, 239, 74, 173, 156),
 (109, 146, 78, 244, 132, 105),
 (110, 34, 36, 101, 160, 87),
 (111, 197, 198, 148, 215, 138),
 (112, 21, 16, 120, 107, 173),
 (113, 94, 103, 22, 247, 245),
 (114, 141, 126, 149, 126, 159),
 (115, 79, 81, 109, 58, 183),
 (116, 84, 143, 64, 2, 180),
 (117, 180, 199, 122, 184, 110),
 (118, 6, 19, 32, 69, 95),
 (119, 126, 128, 146, 8, 218),
 (120, 134, 172, 99, 78, 89),
 (121, 116, 213, 10, 163, 24),
 (122, 43, 21, 153, 182, 164),
 (123, 255, 229, 231, 217, 208),
 (124, 258, 266, 88, 223, 234),
 (125, 58, 42, 49, 266, 230),
 (126, 93, 84, 87, 56, 251),
 (127, 109, 99, 117, 156, 148),
 (128, 256, 192, 264, 167, 236),
 (129, 22, 3, 213, 169, 128),
 (130, 228, 175, 230, 240, 123),
 (131, 101, 148, 54, 110, 154),
 (132, 48, 27, 187, 85, 182),
 (133, 110, 174, 23, 79, 205),
 (134, 143, 200, 111, 7, 44),
 (135, 151, 75, 251, 10, 247),
 (136, 187, 194, 130, 254, 59),
 (137, 251, 233, 219, 227, 157),
 (138, 224, 163, 241, 189, 174),
 (139, 238, 235, 242, 97, 11),
 (140, 95, 106, 102, 42, 206),
 (141, 49, 55, 104, 61, 162),
 (142, 235, 245, 107, 210, 210),
 (143, 91, 64, 93, 257, 198),
 (144, 61, 118, 71, 116, 5),
 (145, 8, 10, 152, 54, 36),
 (146, 69, 127, 42, 18, 155),
 (147, 267, 267, 224, 233, 49),
 (148, 234, 247, 78, 119, 264),
 (149, 57, 22, 207, 120, 133),
 (150, 117, 113, 77, 264, 126),
 (151, 184, 150, 262, 76, 2),
 (152, 210, 170, 232, 152, 141),
 (153, 264, 246, 235, 216, 195),
 (154, 27, 7, 145, 130, 253),
 (155, 232, 232, 144, 259, 142),
 (156, 262, 243, 216, 242, 219),
 (157, 30, 31, 106, 191, 40),
 (158, 193, 167, 227, 121, 101),
 (159, 32, 28, 125, 181, 46),
 (160, 115, 114, 80, 226, 200),
 (161, 149, 102, 163, 230, 194),
 (162, 206, 242, 16, 249, 243),
 (163, 75, 45, 131, 100, 254),
 (164, 127, 85, 138, 138, 242),
 (165, 181, 210, 123, 51, 112),
 (166, 96, 77, 214, 12, 96),
 (167, 51, 66, 121, 17, 122),
 (168, 29, 15, 94, 220, 250),
 (169, 155, 190, 29, 260, 187),
 (170, 239, 188, 256, 162, 186),
 (171, 2, 32, 1, 63, 15),
 (172, 67, 112, 19, 90, 229),
 (173, 23, 49, 127, 1, 8),
 (174, 9, 50, 5, 112, 38),
 (175, 36, 79, 28, 53, 67),
 (176, 62, 129, 11, 207, 84),
 (177, 166, 107, 205, 117, 228),
 (178, 20, 18, 143, 106, 50),
 (179, 250, 258, 222, 16, 51),
 (180, 165, 136, 185, 165, 190),
 (181, 212, 201, 189, 34, 226),
 (182, 164, 73, 239, 251, 185),
 (183, 125, 161, 84, 137, 85),
 (184, 128, 48, 237, 128, 202),
 (185, 140, 124, 212, 6, 119),
 (186, 167, 121, 211, 49, 241),
 (187, 227, 227, 183, 27, 171),
 (188, 88, 182, 21, 21, 100),
 (189, 182, 185, 169, 29, 163),
 (190, 188, 187, 95, 241, 224),
 (191, 63, 72, 48, 133, 225),
 (192, 195, 151, 209, 232, 132),
 (193, 160, 203, 69, 55, 207),
 (194, 142, 70, 203, 161, 222),
 (195, 244, 249, 202, 95, 88),
 (196, 82, 40, 217, 99, 107),
 (197, 223, 248, 72, 234, 72),
 (198, 219, 262, 51, 23, 177),
 (199, 161, 207, 35, 81, 235),
 (200, 33, 39, 73, 192, 71),
 (201, 233, 240, 178, 114, 97),
 (202, 222, 224, 166, 80, 149),
 (203, 230, 237, 218, 139, 3),
 (204, 229, 226, 171, 45, 239),
 (205, 198, 153, 233, 30, 240),
 (206, 216, 166, 170, 253, 248),
 (207, 16, 20, 37, 177, 160),
 (208, 65, 147, 13, 154, 64),
 (209, 249, 254, 180, 19, 233),
 (210, 176, 90, 226, 221, 189),
 (211, 133, 100, 128, 262, 129),
 (212, 246, 253, 191, 171, 42),
 (213, 209, 134, 254, 131, 217),
 (214, 45, 89, 59, 20, 58),
 (215, 106, 69, 164, 213, 151),
 (216, 118, 195, 36, 37, 103),
 (217, 225, 252, 103, 140, 39),
 (218, 163, 193, 160, 24, 52),
 (219, 130, 65, 186, 248, 175),
 (220, 137, 141, 124, 168, 102),
 (221, 177, 204, 110, 196, 66),
 (222, 190, 219, 45, 244, 178),
 (223, 85, 97, 83, 39, 223),
 (224, 204, 168, 259, 28, 83),
 (225, 71, 80, 147, 75, 9),
 (226, 158, 139, 196, 170, 82),
 (227, 3, 11, 47, 3, 35),
 (228, 237, 221, 199, 250, 81),
 (229, 199, 263, 17, 44, 176),
 (230, 83, 133, 25, 134, 188),
 (231, 4, 2, 52, 103, 134),
 (232, 37, 62, 41, 36, 135),
 (233, 254, 228, 253, 102, 193),
 (234, 231, 146, 240, 265, 249),
 (235, 80, 76, 156, 84, 90),
 (236, 220, 250, 100, 91, 78),
 (237, 123, 96, 177, 70, 118),
 (238, 7, 9, 105, 211, 13),
 (239, 19, 57, 8, 5, 221),
 (240, 47, 149, 24, 22, 12),
 (241, 194, 244, 79, 108, 48),
 (242, 200, 196, 210, 14, 143),
 (243, 111, 104, 190, 35, 63),
 (244, 105, 123, 159, 50, 45),
 (245, 144, 171, 136, 136, 30),
 (246, 265, 260, 247, 86, 120),
 (247, 218, 217, 140, 201, 153),
 (248, 162, 189, 81, 222, 99),
 (249, 11, 33, 30, 48, 76),
 (250, 17, 6, 115, 194, 191),
 (251, 211, 208, 157, 151, 152),
 (252, 92, 130, 65, 186, 91),
 (253, 87, 132, 108, 11, 77),
 (254, 55, 29, 150, 197, 199),
 (255, 159, 101, 257, 43, 54),
 (256, 53, 108, 7, 26, 266),
 (257, 156, 111, 134, 252, 246),
 (258, 242, 256, 141, 149, 130),
 (259, 60, 8, 225, 155, 258),
 (260, 148, 43, 265, 200, 111),
 (261, 178, 162, 236, 41, 33),
 (262, 226, 181, 200, 111, 257),
 (263, 68, 74, 91, 118, 131),
 (264, 89, 131, 43, 183, 116),
 (265, 169, 169, 182, 225, 14),
 (266, 102, 176, 14, 146, 147),
 (267, 100, 53, 228, 178, 55))

In [16]:
studentMarks(df)

((1, 95.0, 5.71, 'basic02', 'mid'),
 (2, 85.0, 13.33, 'basic01', 'basic03'),
 (3, 93.33, 0.0, 'quiz02', 'basic02'),
 (4, 93.33, 14.0, 'basic03', 'end'),
 (5, 86.67, 5.0, 'basic04', 'basic02'),
 (6, 86.67, 16.0, 'basic01', 'end'),
 (7, 95.0, 0.0, 'basic01', 'basic01'),
 (8, 94.29, 3.33, 'mid', 'quiz02'),
 (9, 86.67, 13.33, 'quiz03', 'basic01'),
 (10, 95.0, 0.0, 'basic02', 'basic03'),
 (11, 95.0, 2.86, 'basic01', 'mid'),
 (12, 90.0, 20.0, 'quiz03', 'quiz02'),
 (13, 93.33, 6.67, 'basic04', 'quiz03'),
 (14, 78.0, 3.33, 'end', 'quiz03'),
 (15, 86.67, 0.0, 'basic02', 'basic03'),
 (16, 93.33, 4.0, 'quiz01', 'end'),
 (17, 73.33, 0.0, 'quiz02', 'basic03'),
 (18, 93.33, 6.67, 'basic04', 'quiz02'),
 (19, 93.33, 5.0, 'basic01', 'basic02'),
 (20, 86.67, 0.0, 'quiz01', 'quiz02'),
 (21, 93.33, 0.0, 'basic02', 'quiz01'),
 (22, 95.0, 0.0, 'basic02', 'basic04'),
 (23, 94.29, 0.0, 'mid', 'basic01'),
 (24, 95.0, 13.33, 'basic03', 'basic03'),
 (25, 95.0, 6.67, 'basic01', 'quiz02'),
 (26, 95.0, 0.0, 'basic02', 'basic02'),
 (27, 86.67, 3.33, 'basic04', 'quiz02'),
 (28, 80.0, 3.33, 'basic01', 'quiz03'),
 (29, 95.0, 0.0, 'basic03', 'basic01'),
 (30, 90.0, 0.0, 'basic03', 'quiz03'),
 (31, 93.33, 20.0, 'quiz01', 'basic01'),
 (32, 86.67, 5.0, 'quiz01', 'basic02'),
 (33, 97.14, 6.67, 'mid', 'basic04'),
 (34, 90.0, 0.0, 'basic01', 'basic01'),
 (35, 80.0, 0.0, 'quiz02', 'basic02'),
 (36, 73.33, 3.33, 'basic03', 'quiz01'),
 (37, 80.0, 3.33, 'basic04', 'quiz01'),
 (38, 93.33, 0.0, 'quiz02', 'basic01'),
 (39, 92.0, 2.86, 'end', 'mid'),
 (40, 93.33, 3.33, 'basic03', 'quiz01'),
 (41, 93.33, 6.67, 'quiz01', 'basic01'),
 (42, 92.0, 0.0, 'end', 'basic03'),
 (43, 93.33, 0.0, 'quiz03', 'basic04'),
 (44, 96.67, 10.0, 'quiz03', 'basic01'),
 (45, 93.33, 0.0, 'quiz02', 'basic01'),
 (46, 86.67, 6.67, 'basic04', 'basic01'),
 (47, 95.0, 0.0, 'basic03', 'basic02'),
 (48, 93.33, 0.0, 'basic01', 'basic04'),
 (49, 96.67, 6.67, 'quiz01', 'quiz03'),
 (50, 90.0, 10.0, 'quiz03', 'basic01'),
 (51, 90.0, 16.67, 'basic03', 'quiz03'),
 (52, 97.14, 13.33, 'mid', 'quiz02'),
 (53, 93.33, 6.67, 'basic01', 'quiz03'),
 (54, 94.29, 0.0, 'mid', 'basic02'),
 (55, 95.0, 6.67, 'basic01', 'quiz03'),
 (56, 95.0, 0.0, 'basic02', 'basic04'),
 (57, 95.0, 5.0, 'basic01', 'basic03'),
 (58, 93.33, 0.0, 'quiz02', 'basic03'),
 (59, 93.33, 0.0, 'quiz01', 'basic02'),
 (60, 93.33, 0.0, 'basic02', 'basic04'),
 (61, 93.33, 0.0, 'basic04', 'basic02'),
 (62, 93.33, 0.0, 'basic04', 'basic02'),
 (63, 96.67, 0.0, 'quiz01', 'basic04'),
 (64, 93.33, 0.0, 'basic02', 'basic01'),
 (65, 98.0, 5.0, 'end', 'basic03'),
 (66, 90.0, 13.33, 'basic03', 'basic04'),
 (67, 86.67, 10.0, 'basic01', 'basic03'),
 (68, 93.33, 13.33, 'basic01', 'basic03'),
 (69, 96.0, 0.0, 'end', 'basic04'),
 (70, 97.14, 0.0, 'mid', 'basic03'),
 (71, 85.0, 0.0, 'basic03', 'basic01'),
 (72, 86.67, 3.33, 'basic04', 'quiz03'),
 (73, 90.0, 0.0, 'basic03', 'basic02'),
 (74, 85.0, 5.0, 'basic01', 'basic03'),
 (75, 73.33, 0.0, 'basic01', 'quiz02'),
 (76, 93.33, 0.0, 'basic03', 'basic03'),
 (77, 93.33, 0.0, 'basic01', 'basic03'),
 (78, 80.0, 0.0, 'basic01', 'basic02'),
 (79, 95.0, 20.0, 'basic03', 'basic02'),
 (80, 71.43, 0.0, 'mid', 'basic04'),
 (81, 85.0, 6.67, 'basic01', 'quiz01'),
 (82, 96.67, 0.0, 'quiz03', 'basic01'),
 (83, 82.86, 5.0, 'mid', 'basic03'),
 (84, 96.67, 0.0, 'quiz01', 'basic01'),
 (85, 96.67, 0.0, 'quiz03', 'basic02'),
 (86, 93.33, 0.0, 'quiz02', 'quiz01'),
 (87, 91.43, 0.0, 'mid', 'basic01'),
 (88, 86.67, 0.0, 'basic03', 'basic02'),
 (89, 93.33, 0.0, 'basic04', 'quiz02'),
 (90, 88.0, 5.0, 'end', 'basic02'),
 (91, 86.67, 10.0, 'basic01', 'basic01'),
 (92, 95.0, 0.0, 'basic01', 'quiz03'),
 (93, 93.33, 13.33, 'quiz03', 'basic03'),
 (94, 86.67, 3.33, 'basic04', 'quiz03'),
 (95, 88.57, 5.0, 'mid', 'basic01'),
 (96, 86.67, 3.33, 'basic03', 'quiz02'),
 (97, 93.33, 40.0, 'basic04', 'basic01'),
 (98, 94.0, 10.0, 'end', 'basic01'),
 (99, 78.0, 6.67, 'end', 'basic01'),
 (100, 95.0, 6.67, 'basic01', 'quiz03'),
 (101, 80.0, 6.67, 'basic02', 'quiz01'),
 (102, 86.67, 0.0, 'basic02', 'quiz01'),
 (103, 80.0, 20.0, 'quiz03', 'basic03'),
 (104, 90.0, 16.0, 'quiz03', 'end'),
 (105, 96.67, 10.0, 'quiz02', 'basic01'),
 (106, 88.0, 0.0, 'end', 'mid'),
 (107, 90.0, 2.86, 'quiz01', 'mid'),
 (108, 80.0, 10.0, 'basic02', 'quiz02'),
 (109, 93.33, 6.67, 'basic01', 'basic02'),
 (110, 91.43, 6.67, 'mid', 'basic02'),
 (111, 93.33, 0.0, 'quiz02', 'basic04'),
 (112, 94.29, 13.33, 'mid', 'basic02'),
 (113, 90.0, 6.67, 'basic02', 'basic03'),
 (114, 86.67, 20.0, 'basic02', 'quiz03'),
 (115, 96.67, 3.33, 'quiz01', 'quiz02'),
 (116, 94.0, 0.0, 'end', 'mid'),
 (117, 86.67, 3.33, 'quiz03', 'quiz02'),
 (118, 96.0, 13.33, 'end', 'quiz02'),
 (119, 97.14, 2.0, 'mid', 'end'),
 (120, 90.0, 0.0, 'basic03', 'basic04'),
 (121, 96.67, 0.0, 'quiz03', 'basic02'),
 (122, 91.43, 0.0, 'mid', 'basic03'),
 (123, 76.67, 6.67, 'quiz01', 'basic01'),
 (124, 65.0, 2.86, 'basic03', 'mid'),
 (125, 90.0, 0.0, 'basic02', 'basic01'),
 (126, 97.14, 0.0, 'mid', 'quiz03'),
 (127, 85.0, 10.0, 'basic01', 'basic02'),
 (128, 66.0, 0.0, 'end', 'basic03'),
 (129, 96.0, 0.0, 'end', 'basic03'),
 (130, 90.0, 2.86, 'quiz02', 'mid'),
 (131, 96.67, 6.67, 'quiz01', 'quiz02'),
 (132, 94.0, 13.33, 'end', 'basic04'),
 (133, 85.0, 16.67, 'basic02', 'quiz01'),
 (134, 96.67, 6.67, 'quiz01', 'quiz02'),
 (135, 93.33, 0.0, 'basic01', 'basic02'),
 (136, 90.0, 0.0, 'quiz03', 'basic03'),
 (137, 80.0, 0.0, 'basic03', 'basic02'),
 (138, 82.0, 2.86, 'end', 'mid'),
 (139, 96.67, 0.0, 'quiz01', 'basic03'),
 (140, 93.33, 0.0, 'basic03', 'basic01'),
 (141, 90.0, 25.0, 'basic01', 'basic02'),
 (142, 90.0, 5.71, 'basic01', 'mid'),
 (143, 83.33, 0.0, 'quiz01', 'basic01'),
 (144, 95.0, 0.0, 'basic03', 'basic03'),
 (145, 96.0, 20.0, 'end', 'basic01'),
 (146, 93.33, 10.0, 'basic01', 'quiz03'),
 (147, 76.67, 0.0, 'quiz01', 'basic01'),
 (148, 93.33, 6.67, 'basic01', 'quiz03'),
 (149, 90.0, 5.0, 'quiz01', 'basic02'),
 (150, 91.43, 0.0, 'mid', 'basic04'),
 (151, 96.67, 5.0, 'quiz02', 'basic03'),
 (152, 90.0, 0.0, 'quiz01', 'basic02'),
 (153, 86.67, 0.0, 'basic04', 'basic03'),
 (154, 95.0, 0.0, 'basic03', 'quiz01'),
 (155, 60.0, 6.67, 'quiz02', 'basic04'),
 (156, 90.0, 0.0, 'basic02', 'basic03'),
 (157, 85.0, 6.67, 'basic03', 'basic02'),
 (158, 96.67, 0.0, 'quiz01', 'basic03'),
 (159, 96.67, 3.33, 'quiz01', 'quiz03'),
 (160, 97.14, 0.0, 'mid', 'basic03'),
 (161, 73.33, 0.0, 'quiz02', 'basic02'),
 (162, 95.0, 0.0, 'basic02', 'basic02'),
 (163, 95.0, 10.0, 'basic02', 'quiz02'),
 (164, 93.33, 0.0, 'basic04', 'basic03'),
 (165, 90.0, 15.0, 'basic03', 'basic02'),
 (166, 93.33, 5.0, 'basic01', 'basic01'),
 (167, 93.33, 30.0, 'basic01', 'end'),
 (168, 97.14, 0.0, 'mid', 'basic01'),
 (169, 85.0, 2.86, 'basic02', 'mid'),
 (170, 60.0, 0.0, 'basic03', 'basic04'),
 (171, 95.0, 33.33, 'basic03', 'basic01'),
 (172, 93.33, 6.67, 'basic04', 'basic01'),
 (173, 96.67, 20.0, 'quiz03', 'basic03'),
 (174, 95.0, 20.0, 'basic03', 'basic02'),
 (175, 90.0, 26.67, 'basic01', 'basic01'),
 (176, 85.0, 0.0, 'basic01', 'basic04'),
 (177, 85.0, 0.0, 'basic03', 'basic02'),
 (178, 93.33, 0.0, 'basic04', 'basic03'),
 (179, 93.33, 8.57, 'quiz01', 'mid'),
 (180, 95.0, 0.0, 'basic01', 'basic03'),
 (181, 93.33, 5.71, 'basic04', 'mid'),
 (182, 77.14, 0.0, 'mid', 'basic03'),
 (183, 90.0, 20.0, 'basic01', 'end'),
 (184, 97.14, 0.0, 'mid', 'basic02'),
 (185, 86.67, 0.0, 'quiz01', 'basic02'),
 (186, 93.33, 0.0, 'basic01', 'basic04'),
 (187, 86.67, 8.57, 'basic04', 'mid'),
 (188, 90.0, 10.0, 'basic01', 'quiz02'),
 (189, 93.33, 0.0, 'quiz02', 'quiz03'),
 (190, 90.0, 2.0, 'basic01', 'end'),
 (191, 95.0, 3.33, 'basic02', 'quiz01'),
 (192, 63.33, 13.33, 'quiz01', 'basic01'),
 (193, 86.67, 3.33, 'basic02', 'quiz01'),
 (194, 74.0, 0.0, 'end', 'basic03'),
 (195, 93.33, 12.0, 'quiz02', 'end'),
 (196, 93.33, 5.0, 'basic04', 'basic03'),
 (197, 95.0, 0.0, 'basic03', 'quiz01'),
 (198, 90.0, 10.0, 'basic01', 'end'),
 (199, 93.33, 10.0, 'basic04', 'end'),
 (200, 98.0, 13.33, 'end', 'basic03'),
 (201, 66.67, 15.0, 'quiz02', 'basic02'),
 (202, 93.33, 10.0, 'basic02', 'basic02'),
 (203, 93.33, 5.71, 'quiz03', 'mid'),
 (204, 93.33, 2.86, 'basic01', 'mid'),
 (205, 80.0, 10.0, 'basic04', 'basic02'),
 (206, 90.0, 0.0, 'basic01', 'basic04'),
 (207, 91.43, 0.0, 'mid', 'basic03'),
 (208, 93.33, 4.0, 'quiz02', 'end'),
 (209, 93.33, 0.0, 'basic03', 'mid'),
 (210, 83.33, 0.0, 'quiz01', 'basic01'),
 (211, 80.0, 0.0, 'mid', 'basic04'),
 (212, 80.0, 0.0, 'quiz03', 'end'),
 (213, 76.67, 0.0, 'quiz03', 'basic01'),
 (214, 93.33, 25.0, 'basic01', 'basic02'),
 (215, 84.0, 0.0, 'end', 'quiz01'),
 (216, 95.0, 2.86, 'basic02', 'mid'),
 (217, 90.0, 13.33, 'quiz01', 'basic02'),
 (218, 86.67, 5.71, 'basic04', 'mid'),
 (219, 90.0, 0.0, 'basic03', 'basic04'),
 (220, 96.67, 13.33, 'quiz02', 'basic01'),
 (221, 75.0, 10.0, 'basic02', 'basic03'),
 (222, 95.0, 2.86, 'basic02', 'mid'),
 (223, 86.67, 6.67, 'basic02', 'basic03'),
 (224, 93.33, 5.0, 'basic02', 'basic01'),
 (225, 93.33, 25.0, 'quiz01', 'basic02'),
 (226, 83.33, 0.0, 'quiz01', 'basic04'),
 (227, 97.14, 40.0, 'mid', 'quiz03'),
 (228, 90.0, 6.0, 'quiz01', 'end'),
 (229, 85.0, 3.33, 'basic03', 'quiz01'),
 (230, 95.0, 0.0, 'basic02', 'basic01'),
 (231, 94.0, 6.67, 'end', 'basic02'),
 (232, 95.0, 0.0, 'basic01', 'quiz02'),
 (233, 73.33, 0.0, 'basic03', 'basic03'),
 (234, 84.0, 0.0, 'end', 'basic04'),
 (235, 88.57, 6.67, 'mid', 'basic04'),
 (236, 80.0, 5.71, 'basic01', 'mid'),
 (237, 83.33, 0.0, 'quiz01', 'basic01'),
 (238, 96.67, 0.0, 'quiz02', 'basic04'),
 (239, 95.0, 20.0, 'basic03', 'quiz01'),
 (240, 93.33, 17.14, 'quiz03', 'mid'),
 (241, 93.33, 0.0, 'quiz03', 'basic01'),
 (242, 86.67, 15.0, 'basic01', 'basic03'),
 (243, 93.33, 0.0, 'quiz03', 'basic02'),
 (244, 92.0, 8.57, 'end', 'mid'),
 (245, 93.33, 2.86, 'quiz03', 'mid'),
 (246, 80.0, 2.0, 'basic02', 'end'),
 (247, 93.33, 5.71, 'quiz02', 'mid'),
 (248, 93.33, 0.0, 'basic04', 'basic01'),
 (249, 95.0, 20.0, 'basic03', 'basic01'),
 (250, 94.0, 6.67, 'end', 'quiz01'),
 (251, 75.0, 4.0, 'basic02', 'end'),
 (252, 90.0, 0.0, 'quiz03', 'quiz02'),
 (253, 93.33, 5.71, 'basic02', 'mid'),
 (254, 90.0, 5.0, 'end', 'basic02'),
 (255, 83.33, 0.0, 'quiz03', 'basic02'),
 (256, 95.0, 0.0, 'basic01', 'quiz02'),
 (257, 86.67, 0.0, 'basic01', 'basic04'),
 (258, 86.67, 0.0, 'basic01', 'basic03'),
 (259, 97.14, 10.0, 'mid', 'quiz02'),
 (260, 73.33, 0.0, 'quiz02', 'basic03'),
 (261, 96.67, 5.0, 'quiz02', 'basic02'),
 (262, 93.33, 0.0, 'basic02', 'quiz03'),
 (263, 95.0, 0.0, 'basic01', 'basic01'),
 (264, 80.0, 0.0, 'basic03', 'basic04'),
 (265, 86.67, 0.0, 'quiz02', 'basic01'),
 (266, 96.67, 6.67, 'quiz02', 'basic02'),
 (267, 86.67, 0.0, 'quiz02', 'basic01'))

In [17]:
ExamDetails(df)

[['mid', '44.32-51.37', 97.14],
 ['end', '44.57-51.4', 98.0],
 ['basic01', '43.33-50.42', 95.0],
 ['basic02', '42.55-49.59', 95.0],
 ['basic03', '44.69-51.6', 95.0],
 ['basic01', '43.11-50.37', 93.33],
 ['basic02', '43.33-50.4', 93.33],
 ['basic03', '41.28-48.21', 93.33],
 ['basic04', '45.61-52.87', 93.33],
 ['quiz01', '43.68-50.88', 96.67],
 ['quiz02', '43.68-50.61', 96.67],
 ['quiz03', '43.96-51.12', 96.67]]

In [16]:
import requests
import imaplib
import string
from bs4 import BeautifulSoup
from urllib.parse import urlparse

def _request(method, url, session=None, **kwargs):
    headers = kwargs.get("headers") or dict()
    headers.update(requests.utils.default_headers())
    headers["User-Agent"] = "AppleWebKit/537.36 (KHTML, like Gecko) " \
    						#"Mozilla/5.0 (X11; Linux x86_64) " \
                            
                            #"Chrome/56.0.2924.87 Safari/537.36"
    kwargs["headers"] = headers
    if session:
        return session.request(method, url, **kwargs)
    else:
        return requests.request(method, url, **kwargs)

def _get(url, session=None, **kwargs):
    return _request('get', url, session=session, **kwargs)

def _post(url, session=None, **kwargs):
    return _request('post', url, session=session, **kwargs)

def _check_google(username, email, pw):
    with requests.Session() as session:
        r = _get("https://accounts.google.com/ServiceLogin", session=session)
        soup = BeautifulSoup(r.text, "html.parser")
        hidden_inputs = soup.find_all("input", type="hidden")
        data = {}
        for i in hidden_inputs:
            data.update({i.get('name', ''): i.get('value', '')})
        data.update({'checkConnection': 'youtube'})
        data.update({'Email': email})
        data.update({'Passwd': pw})
        r = _post("https://accounts.google.com/signin/challenge/sl/password",
                  data=data, session=session)

        i = imaplib.IMAP4_SSL('imap.gmail.com')
        try:
            i.login(email, pw)
            var =  True
        except:
            var = False
         
        return var

def _check_twitter(username, email, pw):
    with requests.Session() as session:
        r = _get("https://mobile.twitter.com/login", session=session)
        tk = session.cookies.get("_mb_tk")
        if not tk or r.status_code != 200:
            r = _get("https://mobile.twitter.com/i/nojs_router?path=%2Flogin", session=session)
            r = _get("https://mobile.twitter.com/login", session=session)
            tk = session.cookies.get("_mb_tk")
        if not tk or r.status_code != 200:
            return False
        r = _post("https://mobile.twitter.com/sessions", data={
            "authenticity_token": tk,
            "session[username_or_email]": username,
            "session[password]": pw,
            "remember_me": 0,
            "wfa": 1,
            "redirect_after_login": "/home"
        }, session=session)
        url = urlparse(r.url)
        return url.path != "/login/error"

def _check_github(username, email, pw):
    with requests.Session() as session:
        r = _get("https://github.com/login", session=session)
        soup = BeautifulSoup(r.text, "html.parser")
        i = soup.select_one("input[name='authenticity_token']")
        token = i["value"]
        r = _post("https://github.com/session", session=session, data={
            "utf8": "✓",
            "commit": "Sign in",
            "authenticity_token": token,
            "login": username,
            "password": pw,
        })
        url = urlparse(r.url)
        return url.path != "/session" and url.path != "/login"

def _check_fb(username, email, pw):
    with requests.Session() as session:
        r = _get("https://www.facebook.com", session=session)
        if r.status_code != 200:
            return False
        r = _post("https://www.facebook.com/login.php?login_attempt=1&lwv=100", data={
            "email": email,
            "pass": pw,
            "legacy_return": 0,
            "timezone": 480,
        }, session=session)
        url = urlparse(r.url)
        return url.path != "/login.php"

def _check_hn(username, email, pw):
    r = _post("https://news.ycombinator.com", data={
        "goto": "news",
        "acct": username,
        "pw": pw
    }, allow_redirects=False)
    return "Bad login" not in r.text

checks = {
    "Twitter": _check_twitter,
    "Facebook": _check_fb,
    "GitHub": _check_github,
    "Hacker News": _check_hn,
    "Google": _check_google
}

def check_pass(pw, email, username):
    errors = list()
    username = username or email
    for check in checks:
        try:
            if checks[check](username, email, pw):
                errors.append("Your password must not be the same as your {} password".format(check))
        except:
            pass
    return errors
    
print(check_pass('123456', 'tanayrathore21@gmail.com', 'tanayrathore21'))

[]

[]